<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Mapping Games</title>

  <link rel="stylesheet" href="/static/styles.css" />

  <!-- Leaflet -->
  <link
    rel="stylesheet"
    href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
  />
</head>

<body>
  <header id="top-bar">
    <h1>Mapping Games</h1>
  </header>

  <main id="app">

    <div id="guess-bar">
        <div id="input-wrapper">
            <input id="guess-input" type="text" placeholder="Guess a country..." />
            <button id="clear-btn">Clear</button>
        </div>

        <div id="progress-tracker">0 / 197</div>
    </div>


    <div
        id="map">
    </div>

  </main>

  <!-- Leaflet JS -->
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>

  <!-- Game Logic -->
  <script src="/static/scripts.js"></script>
</body>
</html>
